article {
  margin-top: 30px;
  width: 98%;
  border: solid 1px #ddd;
}

article img {
  width: 20%;
  display: inline-block;
  margin-right: 30px;

}

article p {
  width: 70%;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;

}